body {
  display: flex;
    height: 97vh;
  font-family: Arial, sans-serif;
}
aside {
  flex: 1;
  min-width: 150px;
  height: auto;
  background-color: #3f508d;
  border-left: 2px solid #ccc;
  padding: 20px;
  margin: 3px;
  border-radius: 15px;
}

main {
  flex: 3;
  padding: 20px;
  background-color: #ffffff;
  margin: 0;
}




@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
  }

  main {
    width: 100%;
    padding: 10px;
  }

  .product-details {
    flex-direction: column;
    align-items: flex-start;
  }

  form {
    flex-direction: column;
  }

  table {
    font-size: 14px;
    overflow-x: auto;
    display: block;
  }

  img {
    width: 60px;
  }

  .modal {
    display: flex;
    padding: 10px;
  

    input {
      max-height: 50px;
    }
  }
}

@media (max-width: 480px) {
  button {
    width: 100%;
    margin: 10px 0;
  }

  .product-details {
    align-items: stretch;
  }

  th,
  td {
    font-size: 12px;
    padding: 8px;
  }

  img {
    width: 50px;
  }
}